* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 32px;
    color: white;
}

body {
    background: rgba(29, 36, 42, 1.0);
    background: -webkit-linear-gradient(top right, rgba(29, 36, 42, 1.0), rgba(43, 54, 61, 1.0));
    background: -moz-linear-gradient(top right, rgba(29, 36, 42, 1.0), rgba(43, 54, 61, 1.0));
    background: linear-gradient(to bottom left, rgba(29, 36, 42, 1.0), rgba(43, 54, 61, 1.0));
    font-family: sans-serif;
}

.wrapper {
    margin: 0 auto;
    width: 1200px;
    background: rgba(218, 208, 216, 1.0);
    background: -webkit-linear-gradient(top right, rgba(218, 208, 216, 1.0), rgba(81, 90, 96, 1.0));
    background: -moz-linear-gradient(top right, rgba(218, 208, 216, 1.0), rgba(81, 90, 96, 1.0));
    background: linear-gradient(to bottom left, rgba(218, 208, 216, 1.0), rgba(81, 90, 96, 1.0));
}

section,
article {
    padding: 20px 40px;
}

h1,
h2 {
    margin-bottom: 20px;
}

a {
    color: #e8ebf2;
}

a:hover {
    color: #767676;
}

.personal-card {
    display: flex;
    justify-content: space-between;
}

.descr {
    margin: 0 40px;
    text-align: justify;
}

.characteristics-list {
    margin: 0px 65px;
}

.personal-info {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 40px;
}

.avatar {
    display: block;
    width: 250px;
    border-radius: 5px;

}

.code-field {
    background-color: #134179;
    color: #fffff4;
    font-size: 0.7rem;
}

.text-violet {
    color: #ebbbff;
}

.text-blue {
    color: #bbdaff;
}

.text-green {
    color: #96e4a9;
}

.text-orange {
    color: #ffc58f;
}

.text-red {
    color: #d75151;
}

.text-yellow {
    color: #ffe18d;
}

.indent-1 {
    margin-left: 0px;
}

.indent-2 {
    margin-left: 40px;
}

.indent-3 {
    margin-left: 80px;
}

.indent-4 {
    margin-left: 120px;
}